
a,
a:focus,
a:hover {
  color: #fff;
}

h3{
  font-size: 20px;
}

html,
body {
  height: 700px;
  background-color: #333;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

.cover-container {
  margin-right: auto;
  margin-left: auto;
}
/* Padding for spacing */
.inner {
  padding: 30px;
}

/*Bubble Graph*/
.node {
  stroke-width: 1.5px;
}
.node:hover circle {
  fill: grey !important;
}

text {
  font: 18px 'Open Sans', sans-serif;;
  text-anchor: middle;
  pointer-events: none;
  fill: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

circle {
  fill: #d83000;
  stroke: white ;
  stroke-width: 2px;
}
/*Buttons*/

.btnUser{
    position:absolute;
    left: 15%;
    top: 15%;
    cursor:pointer;
}
.btnTraffic{
    position:absolute;
    left: 20%;
    top: 15%;
    cursor:pointer;

}

.btnPacket{
  position: absolute;
  left: 25%;
  top: 15%;
  cursor:pointer;

}
/*Mouseover Display*/
.tooltip{
  top: 30%;
  right: 0;
  line-height: 10px;
  font-size: 10px;
}

/*About Me dialog*/
.popup {
  display: none;
  position: absolute;
  top: 50px;
  left: 55%;
  width: 500px;
  margin-left: -350px;
  padding: 20px 30px;

  background: #fff;
  color: #333;
  font-size: 15px;
  line-height: 20px;
  text-align:left;
  border: 10px solid #150E2D;
  z-index: 9999;
  text-shadow: none;

}
.popup-mobile {
  position: absolute;
  top: 0;
  left: 0;
  margin: 30px 0 0;
  width: 100%;
}     
.popup-btn-close {
  position: absolute;
  top: 8px;
  right: 14px;
  color: #333;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
} 
/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 10px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}

/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}

.mastfoot {
    position: absolute;
    bottom: 0;
  }
/*
 * Footer
 */
.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: absolute;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; 
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 1000px;
  }
  h3{
    font-size:35px;
  }
.tooltip{
  top: 30%;
  right: 5%;
  line-height: 20px;
  font-size: 15px;
}
}